$dark-bg: #2B2B2B;
$gray-bg: #3B3B3B;
$light-bg: #858584;
$white-bg: #FFF;
$brand-color: #A159FF;

$gradient-color-first: linear-gradient(45deg, #A259FF 0%, #377DF7 100%);
$gradient-color-second: linear-gradient(45deg, #A259FF 0%, #FF6250 100%);
